# Python
__pycache__/
*.pyc

# Virtual Env
venv/

# Django
db.sqlite3
media/
staticfiles/

# Environment
.env

# IDE
.vscode/
.idea/

# Logs
*.log

# Docker
docker-data/

# Pytest
.pytest_cache/

# Coverage
htmlcov/
.coverage

# OS
.DS_Store
Thumbs.db